body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.chatyDiv{
  width: 100%;
  height: 100%;
}

.chatBox{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.textBox{
  background-color: gray;
  flex-grow: 1;
}

.chatRooms{
  background-color: blue;
  flex-grow: 1;
}
