<!DOCTYPE html>
<html>
  <head>
    <title>Chaty</title>
    <link rel="stylesheet" href="../public/css/base.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900,100italic,300italic,400italic,500italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="chatyDiv"></div>
  </body>
  <script src="../public/js/mainBundle.js"></script>
</html>
